<h3>Here are all the tasks in @Model["category"].GetName():</h3>
<ol>
  @foreach (var task in @Model["tasks"])
  {
    <li>@task.GetDescription()</li>
  }
</ol>
<p><a href='/categories/@Model["category"].GetId()/task/new'>Add a new task</a></p>
<p><a href="/">Back home</a></p>
