<h1>@Model.GetDescription()</h1>

<p><a href="/tasks/new">Add another task</a></p>
<a href='/tasks'>View all tasks</a>
<form action="/tasks_cleared" method="post">
  <button type="submit" name="button">Clear All Tasks</button>
</form>
